@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1C304F;
    --secondary: #98BBF5;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    user-select: none;
    -webkit-user-drag: none;
    background-color: var(--primary);
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 20px;
    background-color: #192b47;
    border-radius: 20px;
    gap: 24px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item label {
    width: fit-content;
    padding: 2px 6px;
    border-radius: 99px;
    position: absolute;
    padding: 8px 16px;
    transition: .2s all ease-in-out;
}

.form-item input {
    width: 100%;
    padding: 8px;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 99px;
    padding: 12px;
    outline: none;
    color: var(--secondary);
}

.form-item:has(input:focus) label {
    margin-top: -12px;
    font-size: 12px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 2px 14px;
    margin-left: 12px;
}

.form-item:not(:has(input:placeholder-shown)) label {
    margin-top: -12px;
    font-size: 12px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 2px 6px;
    margin-left: 12px;
}

button {
    width: 100%;
    padding: 6px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 99px;
    font-size: 18px;
    font-weight: 600;
}

.login a {
    color: #c1d6f9;
}

.info-box-login {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.logo-login {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 22px;
    color: var(--secondary);
    z-index: 999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.container {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.loader-bar-box {
    width: 80%;
    background-color: #495972;
    height: 8px;
    border-radius: 99px;
}

.loader-bar {
    width: 100%;
    animation: floader 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    background-color: #16263f;
    height: 100%;
    border-radius: 99px;
}

@keyframes floader {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.home {
    width: 100%;
    height: 100%;
    padding-bottom: 75px;
    overflow-y: scroll;
}

header {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    width: 48px;
    height: 48px;
    background-color: var(--secondary);
    border-radius: 50%;
}

.frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.frame-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.frame-header-more-btn {
    font-weight: 600;
    cursor: pointer;
}

.frame-scroll-x-1 {
    width: 100%;
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 12px;
}

.frame-item-1 {
    min-width: 60%;
    aspect-ratio: 3/4;
    background-color: var(--secondary);
    border-radius: 12px;
    scroll-snap-align: center;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
}

.frame-item-1:nth-child(1) {
    animation: frame-item-1-anim .5s ease-in-out;
}

@keyframes frame-item-1-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-item-1:nth-child(2) {
    animation: frame-item-1-2-anim .75s ease-in-out;
}

@keyframes frame-item-1-2-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-item-1:nth-child(3) {
    animation: frame-item-1-3-anim 1s ease-in-out ;
}

@keyframes frame-item-1-3-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-item-1:nth-child(4) {
    animation: frame-item-1-4-anim 1.25s ease-in-out ;
}

@keyframes frame-item-1-4-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-item-1:nth-child(5) {
    animation: frame-item-1-5-anim 1.5s ease-in-out ;
}

@keyframes frame-item-1-5-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-item-1:nth-child(6) {
    animation: frame-item-1-6-anim 1.75s ease-in-out ;
}

@keyframes frame-item-1-6-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-item-1:nth-child(7) {
    animation: frame-item-1-7-anim 2s ease-in-out ;
}

@keyframes frame-item-1-7-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frame-scroll-x-2 {
    width: 100%;
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 12px;
}

.frame-item-2 {
    min-width: 70%;
    aspect-ratio: 9/3;
    background-color: var(--secondary);
    border-radius: 12px;
    scroll-snap-align: center; 
    padding: 8px;
    display: flex;
    gap: 12px;
    font-size: 32px;
}

.nearby-places-text-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    justify-content: center;
}

.nearby-places-text-main {
    width: 120px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 8px;
}

.nearby-places-text-2nd {
    width: 80px;
    height: 16px;
    background-color: var(--primary);
    border-radius: 8px;
}

.nearby-places-image {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame-fixed {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame-item-3-1 {
    width: 100%;
    aspect-ratio: 2/1;
    background-color: var(--secondary);
    border-radius: 12px;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.frame-item-3-1-p {
    font-size: 18px;
    color: #606e84;
}

.frame-item-3-1-h {
    font-size: 32px;
    font-weight: 600;
}

.frame-3-2nd-box {
    width: 100%;
    display: flex;
    gap: 12px;
}

.frame-item-3 {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: var(--secondary);
    border-radius: 12px;
}

.frame-item-3 {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-item-3 a {
    color: var(--primary);
}

.main-nav {
    width: 90%;
    height: auto;
    position: fixed;
    bottom: 0px;
    background-color: var(--secondary);
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--primary);
    border-radius: 12px 12px 0 0;
    border-bottom: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 25%;
    padding-top: 12px;
}

.nav-item:first-child {
    border-radius: 10px 0 0 0;
}

.nav-item:last-child {
    border-radius: 0 10px 0 0;
}

.nav-icon {
    height: 32px;
    aspect-ratio: 1/1;
    background-color: var(--primary);
    border-radius: 4px;
}

.nav-item {
    color: var(--primary);
    text-decoration: none;
}